@model HastaneRandevuUygulaması.Models.Hastane

@{
    ViewData["Title"] = "Details";
}
@inject IHttpContextAccessor HttpContextAccessor
@if (HttpContextAccessor.HttpContext.Session.GetString("Yetki") != "Admin")
{
    var url = Url.Content("~/Home/Index");
    <script type="text/javascript">
        window.location.href = '@url';
    </script>
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Details</h1>

<div>
    <h4>Hastane</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hastaneAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hastaneAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ilce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ilce.ilceID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.hastaneId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
