@model HastaneRandevuUygulaması.Models.Hastane

@{
    ViewData["Title"] = "Edit";
}
@inject IHttpContextAccessor HttpContextAccessor
@if (HttpContextAccessor.HttpContext.Session.GetString("Yetki") != "Admin")
{
    var url = Url.Content("~/Home/Index");
    <script type="text/javascript">
        window.location.href = '@url';
    </script>
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Edit</h1>

<h4>Hastane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="hastaneId" />
            <div class="form-group">
                <label asp-for="hastaneAdi" class="control-label"></label>
                <input asp-for="hastaneAdi" class="form-control" />
                <span asp-validation-for="hastaneAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ilceId" class="control-label"></label>
                <select asp-for="ilceId" class="form-control" asp-items="ViewBag.ilceId"></select>
                <span asp-validation-for="ilceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
